/* ====== Basic design===== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.3;
}

h1{
    font-size: 4.2rem;
    color: #fff;
}


.clearfix::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

 /*---- re use --- */

.row {
    max-width: 114rem;
    margin: 0 auto;
}

section{
    padding: 8rem 0;

}

h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
}
h2::after{
    content: "";
    display: block;
    height: .4rem;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
    background: #fff;
}

h3{
   font-size: 2.4rem;
   text-transform: uppercase;
   font-weight: 600;
   text-align: center; 
}
.box{
    padding: 1%;
}
.box p{
    font-size: 1.6rem;
    margin-top: 2rem;
    font-weight: 300;

}

.btn:link,
.btn:visited,
.btn{
    background: #eb7d4b;
    border-bottom: .3rem solid #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.6rem 4rem;
    border-radius: .3rem;
    display: inline-block;
    margin-top: 4.5rem;
    font-size: 1.6rem;
}


/* ====== Description  =====*/
.little-description{
    font-size: 1.8rem;
    width: 60%;
    margin-left: 20%;
    line-height: 3rem;
    text-align: center;
    
}

/* ====== header sectiom =====*/

header{
    background: #87509c;
    height: 85vh;
    position: relative;

}
.logo{
    margin-top: 3.5rem;
    width: auto;
    height: 3.5rem;
    float: left;

}
.main-nav{
    float: right;
    margin-top: 4rem; 
}
.main-nav li{
    display: inline-block;
    margin-left: 3rem;
   

}
.main-nav li:first-child{
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #ffffff00;
    padding: .6rem 1.6rem;
    border-radius: .3rem;
    display: inline-block;
    font-size: 1.6rem;
    transition: 0.3s;

}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
    background-color: #643a79;
}

.active{
    background: #643a79;
    /* padding: 9px 2px;
    border-radius: 3px; */
}

.hero-text-box{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.btn-hero:link,
.btn-hero:visited{
    border-color: #c86a40;
}

/* ====== services section===== */

.service-section{
    color: #fff;
    text-align: center;
    background: #17c2a4;
}
.service-section h2::after{
    background: #14a58c;
}

.services-icon{
    height: 12rem;
    margin-top: 4rem;
    margin-bottom: 3.5rem;
}


/* ====== team section===== */

.team-section{
    background: #e7f1f8;
    text-align: center;

}

.team-section h2{
    color: #3c4761;

}
.team-section h3{
    color:#27283d;
}
.team-section h2::after{
    background: #c8d9e5;
}


.team-member{
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.role{
    color: #30bae7;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: .6rem;
    display: inline-block;

}

.team-section .box p{
    color: #3c4761;
}

.social-link{
    margin-top: 4.5rem;

}

.social-link ul li{
    display: inline-block;
    
}

.social-link ul li a:link{
    color: #450c81;
}
.social-link ul li a:link i::before{
    background: #bdd1df;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    font-size: 2rem;
    margin: .4rem;
    padding: 1rem;
    transition: .5s;
}

.social-link ul li a:hover i::before{
    background: #fff;
    transform: rotate(360deg);
}


/* ====== skill section===== */

.skill-section{
    color: #3c4761;
    background: #fff;

}

.skill-section h3{
   margin-right: 5rem;
}

.skill-section h2,
.skill-section h3{
    color: #3c4761;
}
.skill-section h2::after{
    background: #dfe8ed;
}

.skill-section .box{
    margin-top: 4.5rem;
}

svg.radial-progress circle{
    stroke-width: 5;
}

svg.radial-progress text{
    fill: #3c3c3c;
    font-size: 1.5rem;
}

svg.web-design circle{
    stroke: #30bae7;
}

svg.html-css circle{
    stroke: #d74680;
}
svg.graphic-design circle{
    stroke: #15c7a8;
}
svg.ui-ux circle{
    stroke: #eb7d4b;
}


/* ====== contact  section===== */

.contact-section{
    background: #3c5499;
    text-align: center;
}
.contact-section h2::after{
    background: #273a71;
}

.contact-section .little-description{
    color: #fff;
}
.contact-section form{
    margin-top: 5rem;
    width: 70%;
    margin-left: 15%;

}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
    background: #273a71;
    border: .1rem solid #273a71;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: #fff;
    margin: .5rem 0;
}
.contact-section textarea{
    height: 20rem ;
}

.contact-section form ::placeholder{
    color: #fff;
}

.btn-submit{
    border: 0;
    border-bottom: .3rem solid #299ec5;
    background: #30bae7;
}

.btn-submit:hover{
    cursor: pointer;
}


/* ====== Footer section  section===== */

.footer-section{
    background: #344b8e;
    padding: 3rem 0;
    text-align: center;
}

.footer-section li{
    display: inline-block;
    margin: 0 2rem;
}

.footer-section li a{
    font-size: 2.4rem;
    color: #fff;
    text-decoration:none;
    text-transform: capitalize;

}

.footer-section li:hover a{
   color: #30bae7; 
}